<div class="text-center py-4 px-4 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
    <!-- Copyright -->
  
    <!-- Social links -->
    <div class="mt-3">
      <a href="https://github.com/ShlomiSimanTov" class="text-white me-4" target="_blank" alt="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/shlomisimantov/" class="text-white" target="_blank" alt="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <div class="text-white mb-3 mb-md-0">
      Shlomi Siman Tov
    </div>
    <!-- Social links -->
</div>