<!-- Side-Navbar -->
<nav
  id="navbarSupportedContent"
  class="collapse d-lg-block sidebar collapse bg-white"
>
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
        routerLink="/customers"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fa-solid fa-user-group me-3"></i><span>Customers</span>
      </a>
      <a
        routerLink="/contacts"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fa-solid fa-address-book me-3"></i><span>Contacts</span>
      </a>
      <a
        class="list-group-item list-group-item-action py-2 ripple disabledLink"
      >
        <i class="fa-solid fa-headset me-3"></i><span>Leads</span>
      </a>
      <a
        class="list-group-item list-group-item-action py-2 ripple disabledLink"
      >
        <i class="fa-regular fa-flag me-3"></i><span>Reports</span>
      </a>
      <a
        class="list-group-item list-group-item-action py-2 ripple disabledLink"
      >
        <i class="fa-solid fa-list-check me-3"></i><span>Integration</span>
      </a>
      <a
        class="list-group-item list-group-item-action py-2 ripple disabledLink"
      >
        <i class="fa-solid fa-chart-simple me-3"></i><span>Year-end Sale</span>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</nav>
<!-- Side-Navbar -->
